@font-face {
  font-family: 'DrukWide';
  src: url('../assets/fonts/DrukWideBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/fonts/InconsolataExtraExpanded-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/fonts/InconsolataExtraExpanded-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Beausite';
  src: url('../assets/fonts/Beausite Classic Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}