* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --black: #050505;
  --white: #FFF;
  --unit: 1.25rem;

  --gray: #212121;
  --blue: #2d00f7;
  --purple: #8167fa;

  color: var(--white);
  font-family: 'DrukWide';
}

*::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none;
}

body {
  /* background-color: var(--black); */
  background-image: linear-gradient(to bottom, var(--black) 15%, var(--blue), var(--purple));
  scroll-snap-type: y mandatory;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  width: 100%;
  padding: calc(6 * var(--unit));
  scroll-snap-align: center;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  color: var(--white);
  font-size: calc(3 * var(--unit));
  text-shadow: 0px 0px 16px currentcolor;
}

h2 {
  color: var(--white);
  font-size: var(--unit);
  text-shadow: 0px 0px 5px currentcolor;
  transition-duration: .2s;
}

p {
  font-family: 'Inconsolata';
  font-size: var(--unit)
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}
