#bg {
  opacity: 0;
  pointer-events: none;
  z-index: -2;
}

#border {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  pointer-events: none;
}

#border #b1 {
  margin: var(--unit);
  outline: 2px dashed var(--white);
  outline-offset: -1px;
  width: calc(100% - 2 * var(--unit));
  height: calc(100% - 2 * var(--unit));

}

#border #b2 {
  margin: calc(3 * var(--unit));
  outline: 2px solid var(--white);
  outline-offset: -1px;
  width: calc(100% - 6 * var(--unit));
  height: calc(100% - 6 * var(--unit));
}

.line {
  background-color: var(--white);
}

.line.vert {
  width: 2px;
  height: calc(4 * var(--unit));
}

.line.horiz {
  width: calc(5 * var(--unit));
  height: 2px;
}

.circle {
  border-radius: calc(2 * var(--unit));
  border: 2px solid var(--white);
  width: calc(2 * var(--unit));
  height: calc(2 * var(--unit));
  background-color: transparent;
  transition-duration: .2s;
  pointer-events: all;
}

.circle:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}

#border .circle.left {
  left: calc(2 * var(--unit));
}

#border .circle.right {
  right: calc(2 * var(--unit));
}

#indicators {
  right: calc(6 * var(--unit));
  bottom: calc(6 * var(--unit));
  top: calc(6 * var(--unit));
  width: calc(8 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.indicator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--unit);
}

.indicator .line {
  transform-origin: right;
}

.indicator span {
  font-family: 'Inconsolata';
  font-weight: bold;
  font-size: calc(1 * var(--unit));
  position: relative;
  z-index: 3;
}

.indicator button {
  position: relative;
  width: calc(2 * var(--unit));
  height: var(--unit);
}

.indicator button::after {
  content: "";
  position: absolute;
  top: calc(-0.5 * var(--unit));
  left: 0;
  width: calc(2 * var(--unit));
  height: calc(2 * var(--unit));
  border-radius: calc(2 * var(--unit));
  background-color: var(--blue);
  opacity: .5;
  transform: scale(0, 0);
  transition-duration: .2s;
  z-index: 1;
}

.indicator button:hover::after {
  transform: scale(1, 1);
}

.text_container {

  padding: var(--unit);
}

.text_container > * {
  margin-bottom: var(--unit);
}

.text_container > *:last-child {
  margin-bottom: 0;
}
